*{
    margin: 0;
}

.header-bottom .home{
    color: black;
}


.store-books{
    padding: 1% 10%;
}
.content{
    border: 1px solid #49B14D;
    margin-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;

}
.content img{
    height: 100px;
    display: block;
    padding: 10px 40px;
    transition: transform .9s;
}
.books-category{
    padding: 1% 10%;
    
}
.category-img{
    display: flex;
    padding-bottom: 60px;
   

}
.content img:hover{
    transform: scale(1.2); 
}

.content-header {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 30px;
    color: #49B14D;
}
.content-header hr{
    width: 50px;
    color: #49B14D;
    border: 1px solid #49B14D;
}
.category-img a{
    color: #49B14D;
    padding-bottom: 10px;
}
main hr{
    border: 0.1px solid #79f57d85;
}

.footer-bottom .home{
    color: black;
}

